# shellcheck disable=all
# Ignore everything
*

# Don't ignore what we copy into the image
!assets/**
!config/runtime.exs
!config/prod.exs
!lib/**
!priv/**
!mix.exs
!mix.lock
!litestream.yml

# Keep git HEAD and refs to access current commit hash if needed:
# $ cat .git/HEAD | awk '{print ".git/"$2}' | xargs cat
# d0b8727759e1e0e7aa3d41707d12376e373d5ecc
!.git/HEAD
!.git/refs
